.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top_jumbotron {
  background-color: rgb(174, 216, 250);
}
.blog_title {
	width: 360px;  
	white-space: nowrap;  
	overflow: hidden;  
	text-overflow: ellipsis;  
	-webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis; 
}
.featured_blog_title {
  width: 100%;
  white-space: nowrap;  
	overflow: hidden;
  text-shadow:
    2px  2px 1px #3e6b97,
    -2px  2px 1px #3e6b97,
    2px -2px 1px #3e6b97,
    -2px -2px 1px #3e6b97,
    2px  0px 1px #3e6b97,
    0px  2px 1px #3e6b97,
    -2px  0px 1px #3e6b97,
    0px -2px 1px #3e6b97;
}
.featured_thumbnail {
  width:200px;
  height:250;
  opacity: 0.8;
}